html {
  font-size: 18px;
  }
  /*.border {
    border: 1px solid black;
  }*/
.white {
  color: white;
}
.black {
  background-color: black;
}
.helvetica {
  font-family: Helvetica;
}
.bold {
  font-weight: bold;
}
                        /*Top Bar*/
.topBar {
  display: flex;
  justify-content: center;
}
.topBarContainer {
  display: flex;
  align-items: center;
  width: 960px;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}
.topLogoMargin {
  margin-right: 1rem;
  height: 1.5rem;
}
.twoRem {
  font-size: 2rem;
}
.oneRem {
  font-size: 1rem;
}
                                /*First Section*/
.motorBikeImg {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  width: 960px;
  display: flex;
}
.firstSectionBox {
  width: 20rem;
  margin: 9rem 0 4rem 0;
  padding-left: 3rem;
  padding-top: 2rem;
}

.paddingBottom {
  padding-bottom: 0.25rem;
}
                                /*Middle-Banner*/
.middleBanner {
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
  background-color: firebrick;
  width: 100%;
}
.containerMiddle {
  width: 960px;
  display: flex;
  justify-content: space-between;
}
.containerMiddle h5 {
  display: none;
}
                                /*Second Section*/
.secondSectionOverContainer {
  display: flex;
  justify-content: center;
}
.secondSectionContainer {
  width: 960px;
  display: flex;
  flex-wrap: wrap;
}
.secondSectionContainerA {
  margin: 3rem 0;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}
.secondSectionContainerAFlex {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secondSectionAPadding {
  padding: 0.5rem;
  text-align: center;
  width: 96%;
}
.secondSectionContainerB {
  width: 100%;
  margin: 0 0 4rem 0;
  display: flex;
  justify-content: space-between;
}
.secondSectionContainerBFlex {
  width: 30%;
}
.blackBorder {
  border: 0.22rem solid black;
}
.secondSectionImg {
  height: 9rem;
  padding: 2rem 1rem;
  width: auto;
}
#thermalGlasses {
  width: 95%;
}
.secondSectionBPadding {
  padding: 1rem 2rem;
}

                    /*Footer*/
.footerContainer {
  display: flex;
  justify-content: center;
  height: 5rem;
}
.footer {
  display: flex;
  width: 960px;
  text-align: left;
  align-items: center;
}

                  /*Reponsive*/
/* Tablets */
@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
    .containerMiddle h4 {
    display: none;
  }
  .containerMiddle {
    display: flex;
    justify-content: center;
  }
  .containerMiddle h5 {
    display: inline;
  }
  .thermalGlassesLeave,
  .thermalGlassesLeave h4,
  .thermalGlassesLeave img {
    display: none;
  }
  .secondSectionContainerAFlex {
    width: 47%;
  }
}

/*  Mobiles */
@media only screen and (max-width: 470px) {
  .motorBikeImg {
    height: 15rem;
  }
  .container {
    display: flex;
    align-items: flex-end;
  }
  .firstSectionBox {
    width: 100%;
    margin: 0;
    padding: 1rem 0 2rem 2rem;
  }
  .oneRem {
    font-size: 0.77rem;
  }
  .twoRem {
    font-size: 1rem;
  }
  .cellularWatchLeave,
  .cellularWatchLeave h4,
  .cellularWatchLeave img {
    display: none;
  }
  .secondSectionContainerAFlex {
    width: 90%;
  }
  .secondSectionContainerA {
    display: flex;
    justify-content: center;
  }
  .secondSectionContainerB {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    height: 7rem;
  }
  .secondSectionContainerBFlex {
    width: 100%;
  }
  .secondSectionContainerBFlex h4 {
    margin-bottom: 1rem;
  }
  .footer {
    display: flex;
    justify-content: center;
  }
}
