html {
font-size: 18px;
  }
.white {
  color: white;
}
.black {
  background-color: black;
}
.helvetica {
  font-family: Helvetica;
}
                        /*Top Bar*/
.topBar {
  display: flex;
  justify-content: center;
}
.topBarContainer {
  display: flex;
  align-items: center;
  width: 960px;
  padding: 0.66rem 1rem 0.66rem 0.5rem;
}
.topLogoMargin {
margin-right: 1rem;
}
                      /*First Section*/
.motorBikeImg {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
  height: 25rem;
  width: 100%;
}
